.idea
**/*.pyc
build
/target
/tantivy-query-grammar/target
/tantivy-query-grammar/Cargo.lock
**/*.rs.bk
dist/
__pycache__/
tantivy.so
tantivy.dylib
tantivy/tantivy.cpython*.so
tantivy.egg-info/
.venv
.envrc
site/

/.claude
.vscode/
